.clearfix::after { 
    content: '';
    display: block; 
    clear: both;
}

.wrapper {
    width: 400px;
}

.header {
    height: 100px;
    background-color: #141f40;
}

.main {
    height: 250px;
}

.left-content {
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float: left;
}

.right-contents {
    width: 250px;
    float: left;
}

.right-contents--top {
    height: 150px;
}

.right-contents--top__left {
    height: 150px;
    width: 150px;
    float: left;
}

.right-contents--top__left__top {
    height: 50px;
    width: 150px;
    background-color: #dbd400;
    float: left;
}

.right-contents--top__left__bottom {
    height: 100px;
    width: 150px;
    background-color: #0093b7;
    float: left;
}

.right-contents--top__right {
    height: 150px;
    width: 100px;
    background-color: #ff9e6b;
    float: left;
}

.right-contents--bottom {
    height: 100px;
    background-color: #8c2727;
}

.footer {
    height: 100px;
    background-color: #d98d30;
}
